.Header {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  &--title {
    font-size: 2em;
    background: #f0f0f5;
    padding: 0.25em 1em;
    margin-bottom: 0.25em;
  }
  &--author {
    font-size: 1em;
  }
}
