// this is because of this rabbit hole of an issue https://github.com/rails/sprockets/issues/474
@import 'shared/colors';

.Header {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  &--title {
    font-size: 2em;
    background: $verylightgrey;
    padding: 0.25em 1em;
    margin-bottom: 0.25em;
  }
  &--author {
    font-size: 1em;
  }
}
