@import 'shared/colors';

.PostsWrapper {
  display:flex;
  justify-content: center;
  align-items: center;
}
.PostContainer {
  max-width: 500px;
  min-width: 200px;
  padding: 10px;
}
.PostTitle {
  text-align: center;
  font-size: 1.5em;
  padding: 0.5em;
}
.PostBody {
  font-size: 1em;
  text-align: justify;
  pre {
    code {
      display: block;
    }
  }
  code {
    line-height: 1.5em;
    background: $codegrey;
    padding: 3px 5px;
  }
}

.Post {
  &--date {
    font-size: 0.5em;
    margin: 0.5em;
    color: $dategrey;
  }
}
